name: Tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - uses: oven-sh/setup-bun@v2

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Install deps (root)
        run: bun install

      - name: Install deps (contracts)
        working-directory: contracts
        run: bun install

      - name: Compile contracts
        working-directory: contracts
        run: forge compile

      - name: Start services
        run: docker compose up --detach

      - name: Run e2e tests
        working-directory: backend
        run: bun test:e2e